services:
  ros2_tuto_remote:
    build: .
    container_name: ros2_tuto_remote
    network_mode: host
    privileged: true
    volumes:
      - "/home/sguivarch/Devs/ros_docker/pc/ros_ws:/root/ros_ws"
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID=42
    tty: true
    command: |
      bash -c '
        source /opt/ros/humble/setup.bash

        ros2 run joy joy_node &

        ros2 run teleop_twist_joy teleop_node \
          --ros-args \
          --params-file /root/ros_ws/config/teleop_joy.yaml
      '
